<header>
    <span> <strong>Подписные издания</strong></span>
    <nav>
        <a href="/">Главная</a>
        <a href="/tables/recievers">Получатели</a>
        <a href="/tables/subscriptions">Подписки</a>
        <a href="/tables/editions">Издания</a>
        <a href="/tables/editions_has_subscriptions">Выписанные издания</a>
    </nav>
</header>