<table>
    <caption>
        <h1>ВЫПИСАННЫЕ ИЗДАНИЯ</h1>
    </caption>
    <thead>
        <th>КОД ВЫПИСАННОГО ИЗДАНИЯ</th>
        <th>ИНДЕКС ИЗДАНИЯ</th>
        <th>КОД ПОДПИСКИ</th>
    </thead>
    <tbody>
        <% results.forEach(result => { %>
            <tr> 
                <td> <%= result['КОД_ВЫПИСАННОГО_ИЗДАНИЯ'] %> </td>
                <td> <%= result['ИЗДАНИЯ_ИНДЕКС_ИЗДАНИЯ'] %> </td>
                <td> <%= result['ПОДПИСКИ_КОД_ПОДПИСКИ'] %> </td>
            </tr>
         <% }) %> 
    </tbody>
</table>

<form action="/tables/editions_has_subscriptions" method="post">
    <label for="query">Введите ваш запрос</label>
    <textarea name="query" id="qery" cols="30" rows="10"></textarea>
    <button type="submit">Отправить запрос</button>
</form>