<h1>Выберите таблицу</h1>
<div class="table-choose-container">
    
    <div class="table-choose-container-item">
        <img src="">
        <p>Получатели</p>
    </div>

    
    <div class="table-choose-container-item">
        <img src="">
        <p>Подписки</p>
    </div>

    
    <div class="table-choose-container-item">
        <img src="">
        <p>Издания</p>
    </div>

    
    <div class="table-choose-container-item">
        <img src="">
        <p>Выписанные издания</p>
    </div>

</div>