<h1>Выберите таблицу</h1>
<img src="/img/002-database.svg">

<div class="table-choose-container">
    <a href="http://">Получатели</a>
    <a href="http://">Подписки</a>
    <a href="http://">Издания</a>
    <a href="http://">Выписанные издания</a>
</div>