<h1>Выберите таблицу</h1>
<img src="/img/002-database.svg">

<div class="table-choose-container">
    <a href="/tables/recievers">Получатели</a>
    <a href="/tables/subscribers">Подписки</a>
    <a href="/tables/editions">Издания</a>
    <a href="/tables/editons_has_subscriptions">Выписанные издания</a>
</div>